@import '../../styles/theme-colors';
@import '../../styles/theme-buttons';
.header{
    padding: 0 5%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cabin', sans-serif;

    .left{

        .logo{
            text-decoration: none;
            color: $primary-text;
            font-size: 22px;
            font-weight: 600;
        }
    }

    .right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .solid-button{
            margin-right: 20px;
            @include btn;
            background-color: $primary-color;
            color: #fff;
        }
        .dots{
            font-size: 18px;
            color: $primary-text;
        }
    }

}